* {
    margin: 0px;
    padding: 0px;
    font-family: 'GFS Didot', serif;
    box-sizing: border-box;
}

.barra_sup {
    background-color: lightslategray;
}

h1 {
    font-size: 15px;
    color: white;
    text-align: center;
}

.contenedor_de_logo {
    width: 100%;
    text-align: center;
}

.logo {
    width: 80%;
}

.banner {
    width: 100%;
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px;
}

.contenedor_tarjetas {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.card{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card_img{
    max-height: 60%;
    max-width: 100%;  
}
.card img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.card-body{
    padding: auto;
} 

.carousel-item{
    text-align: center;
}
footer {
    padding: 10px;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
}

footer img {
    inline-size: 50px;
}

.desarrollador {
    margin-top: 20px;
    text-align: end;
    text-align: right;
}
.quienes{
    height: 600px;
}
.quienes_cuerpo {
    display: grid;

    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "titulo linkdeubicacion" "texto iframe";
}

.quienes_titulo{
    grid-area: titulo;
}

.quienes_linkdeubicacion{
    grid-area: linkdeubicacion;
}

.quienes_texto{
    grid-area: texto;
}

.quienes_iframe{
    grid-area: iframe;
}
@media only screen and (min-width: 991px) {
    .contenedor_tarjetas{
        flex-wrap: wrap;
        flex-direction: row;
    }
}